#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.0em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #262fd6);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.resepti-kuva {
  max-width: 50%;
  max-height: 100px;
  object-fit: cover;
}

.reseptit-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.resepti {
  background-color: #f8f8f8;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.punainen-teksi {
  color: #7E1317FF;
}

.logo {
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.recipe-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.recipe-list li {
  background-color: #f5f5f5;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.folders {
  display: flex;
  gap: 40px;
  padding: 10px
}

.recipe-group h2 {
  margin-bottom: 10px;
}

.delete-button {
  position: fixed;
  margin-top: 20px;
  margin-left: auto;
  background-color: #7E1317FF;
  color: white;
  border: none;
  z-index: 1000;
}

.notification-error {
  background-color: rgba(228, 139, 139, 0.75);
  color: #7E1317FF;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.notification-success {
  background-color: rgba(157, 227, 161, 0.75);
  color: #04421f;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.profile-page {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

.custom-nav{
  border: 2px solid #7E1317FF; /*6F9339FF*/
  background-color: rgb(241, 239, 231);
  padding: 1rem;
  text-underline-color: #262fd6;
}

.nav2{
  border: 2px solid rgba(234, 217, 199, 0.53);
  background-color: rgba(234, 217, 199, 0.71);
  padding: 1rem;
  text-underline-color: #262fd6;
  margin-top: -2px;
}

.navbutton{
  padding: 0.25rem 1rem; /* px-4 py-1 */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  }

.navbutton:hover {
  border-color: #262fd6;
  background-color: #ffffff;
  color: #000000;
}