#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #262fd6);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.resepti-kuva {
  max-width: 50%;
  max-height: 100px;
  object-fit: cover;
}

.reseptit-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.resepti {
  background-color: #f8f8f8;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.punainen-teksi {
  color:darkred;
}

.logo {
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.recipe-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.recipe-list li {
  background-color: #f5f5f5;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.folders {
  display: flex;
  gap: 40px;
}

.recipe-group h2 {
  margin-bottom: 10px;
}

.delete-button {
  position: fixed;
  margin-top: 20px;
  margin-left: auto;
  background-color: rgba(168, 23, 8, 0.9);
  color: white;
  border: none;
  z-index: 1000;
}

.notification-error {
  background-color: #b38f8f;
  color: rgba(168, 23, 8, 0.9);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.notification-success {
  background-color: #84aa92;
  color: #04421f;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
