#root {
  margin: 0 auto;
  padding: 0 ;
  text-align: center;
}

.logo {
  height: 5em;
  display: inline-block;
  will-change: filter;
  transition: filter 300ms;
  background-color: rgba(255, 255, 255, 0.01);
}

.logo:hover {
  filter: drop-shadow(0 0 6em #CB0E40FF)
          drop-shadow(0 0 2em #CB0E40FF)
          drop-shadow(0 0 3em #CB0E40FF);
}

.resepti-kuva {
  max-width: 70%;
  max-height: 150px;
  object-fit: cover;
}

.resepti-kuva2 {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.reseptit-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.resepti {
  background-color: #f8f8f8;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.punainen-teksi {
  font-size: medium;
  color: rgb(203, 14, 64);
  font-weight: bold;
}

.punainen-teksi2 {
  font-size: small;
  color: rgb(203, 14, 64);
  font-family: inherit;
}

.recipe-list {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #000000;
  justify-content: center;

}

.recipe-list li {
  background-color: #f5f5f5;
  padding: 8px 10px;
  border-radius: 8px;
}

.folders {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px;
  flex-wrap: wrap;
}

.recipe-group h2 {
  margin-bottom: 10px;
}

.delete-button {
  position: fixed;
  background-color: #7E1317FF;
  color: white;
  border: none;
  z-index: 1000;
}

.my-button{
  background-color: #1612D3;
  color: white;
}

.my-button:hover {
  background-color: #1119c3;
}

.notification-error {
  background-color: rgba(228, 139, 139, 0.75);
  color: #7E1317FF;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.notification-success {
  background-color: rgba(157, 227, 161, 0.75);
  color: #04421f;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.recipe-profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid rgb(203, 14, 64);
  padding: 4rem;
  min-height: 100vh;
}

.custom-nav{
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(203, 14, 64);
  padding: 1rem;
  margin-bottom: -2px;
}

.custom-nav:first-child {
  margin-top: 0;
}

.nav2{
  text-underline-color: #1612D3;
  padding: 2rem;
  background-image: url('assets/tausta.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 50px);
}

.navbutton{
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  }

.navbutton:hover {
  border-color: #CB0E40FF;
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
}

.raita-container {
  width: 50%;
  height: 300px;
  background: repeating-linear-gradient(to right, rgb(203, 14, 64) 0 40px, rgba(239, 148, 184, 0.76) 40px 80px)
}