:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  font-size: medium;
  color: #ffffff; /*734747*/
  text-decoration: inherit;
}
a:hover {
  color: #1612D3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
  color: #ddd;
  background-color: rgb(22, 18, 211);
}

header{
  header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
  }
}

h1 {
  line-height: 1.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1612D3;
  }

  a:hover {
    color: #CB0E40FF;
  }
  button {
    background-color: rgba(255, 255, 255, 0);
    text-overline-color: #ffffff;
  }
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 25px;
  color: #000000;
  text-underline-color: #203780;
  background-image: url('assets/tausta.jpg');
  background-attachment: fixed;
}

.navbar2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  background-color: rgba(239, 148, 184, 0.76);
  height: 300px;
  padding-left: 20px;
}

